.container, .login-signup, form {
  display: flex;
}

.background {
  background-image: url(../Assets/images/calaCoticcio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  width: 400px;
  height: 500px;
  flex-direction: column;
  gap: 50px;
}

.container img {
  width: 400px;
}

.container p {
  padding: 0 70px;
  text-align: center;
}

.login-signup a, .gradientButton, .link {
  transition: transform 0.5s;
  border-radius: 30px;
  background: var(--bgGrad);
}

.login-signup a:hover , .gradientButton:hover{
  transform: scale(1.1);
}

.login-signup {
  justify-content: space-evenly;
}

.login-signup a, .link {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.gradientButton {
  padding: 10px;
  border: none;
  outline: none;
  width: 100px;
}

.coloredInput {
  height: 40px;
  border-radius: 8px;
  border: 2px solid var(--inputColor);
  outline: none;
  transition: 200ms ease-in;
  padding-left: 1rem;
  width: 250px;
  justify-content: center;

}

.coloredInput:focus {
  border-bottom: 4px solid var(--inputColor);
  padding-top: 2px;
}

.coloredInput::placeholder {
  color: var(--inputColor);
  opacity: 0.5;
}


.invisibile {
  position: absolute;
  left: -9999px;
}

.error{
  color: #fd0000;
  font-weight:bold;
  font-size: 12px;
}


form {
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
