* {
    box-sizing: border-box;
    font-size: 18px;
}

img {
    width: 500px;
}

.invisibile {
    position: absolute;
    left: -9999px;
}

.error{
    background-color: #B983FF;
    color: white;
}

button {
    background: rgb(185,131,255);
    background: linear-gradient(90deg, rgba(185,131,255,1) 1%, rgba(185,131,255,1) 15%, rgba(148,218,255,1) 100%);
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline: none;
    width: 100px;

}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
