* {
    box-sizing: border-box;
    font-size: 18px;
}

img {
    width: 500px;
}

.invisibile {
    position: absolute;
    left: -9999px;
}

.error{
    background-color: #B983FF;
    color: white;
}
