.modalBg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.623);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.modalContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
  
.modalContainer span {
    text-align: center;
    margin: 20px 0 50px;
    font-size: 22px;
    font-weight: bold;
}

.date {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.closeBtn {
    display: flex;
    justify-content: flex-end;
}
  
.closeBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}


