* {
    box-sizing: border-box;
    font-size: 18px;
}

body {
    background-image: url(../Assets/calaCoticcio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container img {
    width: 400px;
}

.container p{
    padding: 0 70px;
    text-align: center;
}

.login-signup {
    display: flex;
    justify-content: space-evenly;
}

.login-signup a, .link {
    display: inline-block;
    padding: 10px 30px;
    background: rgb(185,131,255);
    background: linear-gradient(90deg, rgba(185,131,255,1) 1%, rgba(185,131,255,1) 15%, rgba(148,218,255,1) 100%);
    border: 1px solid #ccc;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

input {
    height: 40px;
    border-radius: 8px;
    border: 2px solid hsl(236, 92%, 66%);
    outline: none;
    transition: 200ms ease-in;
    padding-left: 1rem;
    width: 250px;
    justify-content: center;

  }

input:focus {
    border-bottom: 4px solid hsl(236, 92%, 66%);
    padding-top: 2px;
  }

input::placeholder {
    color: hsl(236, 92%, 66%);
    opacity: 0.5;
  }